@model sample_GridStack.Models.SearchPeopleDetailModel

<style>
    /**CSS FOR THE RING**/

    .glyphicon-ring {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 4px solid #ece0e0;
        color: #808080;
        display: inline-table;
        text-align: center;
    }
        /**CSS FOR ICON WITH NO BACKGROUND COLOR**/

        .glyphicon-ring .glyphicon-bordered {
            font-size: 40px;
            vertical-align: middle;
            display: table-cell;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.LastName, @Model.FirstName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <div class="glyphicon-ring ">
                                <span class="glyphicon glyphicon glyphicon-user glyphicon-bordered"></span>
                            </div>


                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.LastName,@Model.FirstName</td>
                                    </tr>
                                    <tr>
                                        <td>Company:</td>
                                        <td>@Model.Company</td>
                                    </tr>
                                    <tr>
                                        <td>Group:</td>
                                        <td>@Model.Group</td>
                                    </tr>
                                    <tr>
                                        <td>Job Title:</td>
                                        <td>@Model.JobTitle</td>
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        <td>@Model.DepartmentNumber, @Model.Department</td>
                                    </tr>
                                    <tr>
                                        <td>MailDrop</td>
                                        <td>@Model.MailDrop</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Work Location</td>
                                        <td>@Model.WorkLocation</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="@Model.Email">info@support.com</a></td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>
                                            @Model.OfficePhone (Work)<br><br>
                                            @Model.CellPhone (Mobile)<br /><br />
                                            @Model.FaxNumber (Fax)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alternate Contact</td>
                                        <td>@Model.AlternateContact</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="@Model.OrgChartLink" class="btn btn-primary">Organization Chart Link</a>
                            <a href="@Model.ProfileSuccessfactorsLink" class="btn btn-primary">Profile Successfactors Link</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>